In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### 1. Open your dataset up using pandas in a Jupyter notebook

In [7]:
df = pd.read_csv("India.csv")

In [8]:
df.columns

Index(['id', 'name', 'company_type', 'locations', 'quality',
       'company_size(upper limit)', 'follower_count', 'high_concept',
       'markets', 'angellist_url'],
      dtype='object')

### 2. Do a .head() to get a feel for your data

In [9]:
df.head()

,id,name,company_type,locations,quality,company_size(upper limit),follower_count,high_concept,markets,angellist_url
0,1194302,Bhubaneswar Buzz,Marketing,Bhubaneswar,0,10,1,Social Media Marketing Startup with Odisha Focus,"Social Media Marketing, Brand Marketing, Promo...",https://angel.co/bhubaneswar-buzz-1
1,1193791,Rice Bar,Food,Bangalore,0,10,1,Rice Bar ' An exotic Rice Adventure',"Food and Beverages, Specialty Foods, Organic Food",https://angel.co/rice-bar
2,1193420,vipra,Supply Chain,Bangalore,0,10,1,Creating an efficient supply chain for agricul...,Supply Chain Management,https://angel.co/vipra
3,1193385,Blackbuck Insights,Big Data,Chennai,0,10,3,Providing cost effective solutions using niche...,"Business Intelligence, Big Data Analytics, Dat...",https://angel.co/blackbuck-insights
4,1193247,toto,Marketing,New Delhi,0,10,1,test,Private Social Networking,https://angel.co/toto-8

### 3. Write down 12 questions to ask your data, or 12 things to hunt for in the data

1. Count the number of startups in each cities ?
2. Find the city in which the highest number of startups in India.
3. Find the domain in which the highest number of startups are from
4. Find the domains in which the lowest number of startups are from
5. How many startups are from the E-Commerce domain?
6. How many startups are from media ?
7. Count the number of startups with highest rating.
8. Describe the company size of Bangalore-based startups
9. Which company has the highest number of followers on Angel list ?
10. Which company has the highest strength ?
11. Count the strength of startups in Media domain
12. What's the average size of a startup in India as given by this Angel list data set ?

### 1. Count the number of startups in each cities ?

In [13]:
df["locations"].value_counts()

Bangalore        30
New Delhi        20
Mumbai           14
Pune              7
Gurgaon           5
Chennai           5
India             3
Noida             3
Hyderabad         3
Chandigarh        2
Bhubaneswar       2
Visakhapatnam     1
Jaipur            1
Delhi             1
Ludhiana          1
Kochi             1
Bhopal            1
Jodhpur           1
Calcutta          1
Name: locations, dtype: int64

### 2. Find the city in which the highest number of startups in India.

In [18]:
df["locations"].value_counts().head(1)

Bangalore    30
Name: locations, dtype: int64

### 3. Find the domain in which the highest number of startups are from

In [19]:
df['company_type'].value_counts()

E-Commerce               19
Mobile                   10
Marketing                10
Healthcare Technology     5
HR                        4
Education                 4
Food                      4
Software                  4
Travel and Tourism        4
Web Development           4
Lifestyle                 3
Services                  3
Finance                   3
Logistics                 2
Big Data                  2
Agriculture               2
AI                        2
Housing                   2
Automotive                2
Games                     2
Media                     2
Pharmaceuticals           1
Aerospace                 1
Footwear                  1
Supply Chain              1
Legal Tech                1
Energy                    1
IT                        1
Social Media              1
UI Design                 1
Name: company_type, dtype: int64

In [20]:
df['company_type'].value_counts().head(1)

E-Commerce    19
Name: company_type, dtype: int64

### 4. Find the domains in which the lowest number of startups are from

In [34]:
df['company_type'].value_counts() == 1

E-Commerce               False
Mobile                   False
Marketing                False
Healthcare Technology    False
HR                       False
Education                False
Food                     False
Software                 False
Travel and Tourism       False
Web Development          False
Lifestyle                False
Services                 False
Finance                  False
Logistics                False
Big Data                 False
Agriculture              False
AI                       False
Housing                  False
Automotive               False
Games                    False
Media                    False
Pharmaceuticals           True
Aerospace                 True
Footwear                  True
Supply Chain              True
Legal Tech                True
Energy                    True
IT                        True
Social Media              True
UI Design                 True
Name: company_type, dtype: bool

In [36]:
df.groupby("company_type")['locations'].value_counts()

company_type        locations
AI                  Bangalore        2
Aerospace           Bangalore        1
Agriculture         Bangalore        1
                    Pune             1
Automotive          Bangalore        1
                    New Delhi        1
Big Data            Chennai          1
                    Ludhiana         1
E-Commerce          Bangalore        7
                    New Delhi        3
                    Chennai          2
                    Mumbai           2
                    Pune             2
                    Bhopal           1
                    Hyderabad        1
                    Kochi            1
Education           New Delhi        2
                    Calcutta         1
                    Hyderabad        1
Energy              Bangalore        1
Finance             Mumbai           2
                    Gurgaon          1
Food                Bangalore        1
                    Hyderabad        1
                    Mumbai           1
                    New Delhi        1
Footwear            Noida            1
Games               Bangalore        1
                    Noida            1
HR                  New Delhi        2
                                    ..
Marketing           Gurgaon          1
                    Mumbai           1
                    Pune             1
Media               New Delhi        1
                    Visakhapatnam    1
Mobile              Bangalore        3
                    Mumbai           2
                    Chennai          1
                    Delhi            1
                    Gurgaon          1
                    India            1
                    New Delhi        1
Pharmaceuticals     New Delhi        1
Services            Chennai          1
                    India            1
                    Mumbai           1
Social Media        Jodhpur          1
Software            Bangalore        2
                    Gurgaon          1
                    Pune             1
Supply Chain        Bangalore        1
Travel and Tourism  Bangalore        1
                    India            1
                    Mumbai           1
                    Noida            1
UI Design           Pune             1
Web Development     Bangalore        1
                    Chandigarh       1
                    New Delhi        1
                    Pune             1
Name: locations, dtype: int64